* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(
      200deg,
      rgba(0, 0, 255, 0.8),
      rgba(141, 103, 103, 0) 70.71%
    ),
    linear-gradient(336deg, rgba(159, 85, 85, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

.timer-container {
  width: 1000px;
  height: 400px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15em auto;
}

.aside-one {
  width: 45%;
  height: 100%;
  background: rgba(141, 103, 103, 0.8);
}
